<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin name="Scala Toolbar Demo"
        description="Adds a functional toolbar button to OxygenXML."
        version="0.1.1"
        vendor="davidpriest.ca"
        class="ca.davidpriest.oxygen.AddToolbarButtonPlugin"
        classLoaderType="preferReferencedResources"
        id="addtoolbarbutton">

    <runtime>
        <library name="addToolbarButton.jar"/>
    </runtime>

    <extension type="WorkspaceAccess" class="ca.davidpriest.oxygen.AddToolbarButtonExt"/>
    <toolbar id="scalatoolbar" initialSide="NORTH" initialRow="1"/>
</plugin>